.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.open-chat-header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}

.open-chat-header span {
  opacity: 0.6;
}

.open-chat-header i {
  padding-left: 0;
}

.open-post {
  display: flex;
  justify-content: space-between;
}

.open-post-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post-hashtags {
  text-transform: uppercase;
  opacity: 0.8;
}

.open-post-members {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.open-post-members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post-member-count {
  font-size: 10px;
  opacity: 0.6;
}

.open-post-members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
}

.open-post-member-status {
  color: pink;
}

.open-post-photo {
  position: relative;
}

.open-post-photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post-heart-count {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: white;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post-heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
    opacity: 1;
  }
  50% {
    color: red;
    transform: scale(10);
    opacity: 0.2;
  }
  100% {
    color: white;
    transform: none;
    opacity: 1;
  }
}

.open-post-heart-count:hover i {
  animation: heartBeat 1s linear infinite;
}
